        body {
            background-color: #313131;
            color: #fff;
            font-family: "Manrope", "Segoe UI", "Roboto", "Lato", "sans-serif";
            font-size: 100%;
            margin: 0;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-text-size-adjust: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        h1 {
            font-size: 6.5225rem;
        }

        h2 {
            font-size: 4.325rem;
        }

        h3 {
            font-size: 3.025rem;
        }

        h4 {
            font-size: 1.525rem;
        }

        h5 {
            font-size: 1.1225rem;
        }

        h6 {
            font-size: .8125rem;
        }

        .head-lite {
            font-weight: 100;
        }

        .head-reg {
            font-weight: 400;
        }

        .head-med {
            font-weight: 700;
        }

        figure {
            margin: 0 0 0 0;
            border-style: none;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 970px;
            }
        }

        @media (min-width: 1200px) {
            .container {
                width: 1170px;
            }
        }

        .row {
            display: flex;
        }

        @media screen and (max-width: 600px) {
            .row {
                flex-direction: column;
            }
        }

        .col-wrap {
            flex: 50%;
            max-width: 50%;
            height: auto;
        }

        @media screen and (max-width: 600px) {
            .col-wrap {
              max-width: 100%;
            }
          }

        /*Product Landing header*/

        #header {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 20px 0;
            z-index: 999;
            padding: 20px 0;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            align-self: start;
            align-self: center;
            justify-self: center;

        }


        .header-grid {
            display: grid;
            background: transparent;

        }

        .logo {
            grid-column: 1;
        }

        .nav-items {
            grid-column: 13/13;
        }

        .nav-items ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .nav-items li {
            display: inline;
            text-align: end;
        }

        .nav-items ul li a {
            padding: 0 20px 0 0;
            text-decoration: none;
            color: #fff;
        }



        .text-wrapper {
            grid-row: 2/2;
            display: grid;
            z-index: 999;
        }

        .super-title {
            letter-spacing: 2px;
            text-transform: Uppercase;

        }

        .hero-title {
            align-self: center;
        }

        #landing {
            display: grid;
            width: 100%;
            grid-template-rows: repeat(3, 250px);
            overflow: hidden;
            position: relative;
            z-index: 1;
            height: 100vh;
            background: url("../img/hai.svg") no-repeat;
            background-repeat: no-repeat;
            background-position: 45% center;
            background-size: cover;
            min-height: calc(100vh);
            min-height: calc(100vh - var(--vh-offset));
            background-color: #2a2112;
        }

        #landing .color-overlay {
            background-color: #313131;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
        }



        .img-canvas {
            display: block;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            overflow: hidden;
            -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0.6);
            box-shadow: 0 60px 120px rgba(0, 0, 0, 0.6);
            border-style:none;
            border-radius:0px;
            border:0px;

        }


        .img-canvas img .tile {
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0.6);
            box-shadow: 0 60px 120px rgba(0, 0, 0, 0.6);
        }

        .tile-img {
            max-width: 100%;
            height: auto;
            margin: 0 0 -4px 0;
        }

        #overview {
            background: url("../img/mc-full.jpg") no-repeat;
            background-position: 100% -6%; 
            background-size: 40%;
            background-color: #fff;
            color: #000;
            padding: 10% 0;

    }

    #overview .text-wrapper {
        text-align: left;
    }

    .content {
        margin: 0 35% 0 0;
    }

    .btn {
        background: transparent;
        border-style: none;
        font-family: 'Segoe UI';
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #0a4f0a;
        border: 2px solid #0a4f0a;
        padding: 15px 10px 14px;
    }

    .wrap {
        padding: 0 10px;
    }

    #features {
        padding: 10% 0;
    }

    #features .gallery-wrapper {
        padding: 20px 0;
        height: 200px;
        background: #fff;
    }

    #features .content {
        margin: 0 35% 20% 0;
    }

    .card-box {
        margin: 0 2.5rem;
        flex: 25%;
        height:  350px;
        max-width: 25%;
        border: 1px solid #0a4f0a;
    }